* {
  margin: 0;
  padding: 0;
}

/* Google fonts  */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(78, 71, 255, 1);
  padding: 15px 25px;
  border: none;
  border-radius: 7px;
}
button:hover {
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(8, 0, 255, 0.491);
}

/* header  */
header {
  width: 100%;

  background-image: url("./Assets/Hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  width: 1000px;
  height: 130px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav h2 {
  color: rgba(78, 71, 255, 1);
  font-size: 30px;
  font-weight: bolder;
}
.header-text {
  width: 70%;
  height: 460px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-text h1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #252432;
}

/* Main  */
main {
  background-color: rgba(8, 0, 255, 0.053);
}
.main-section {
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}
.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.action-text h3 {
  font-size: 42px;
  font-weight: 700;
  color: #252432;
}
.action-text p {
  font-size: 22px;
  color: #25243275;
  margin: 20px 0;
}
.action-img img {
  border-radius: 48px;
}

/* Productive Users section  */
.productive-users-section {
  width: 100%;
  text-align: center;
  background-color: #4d47ff1b;
  border-radius: 24px;
  margin-top: 120px;
}
.productive-users-container {
  padding: 50px 140px;
}
.productive-users-container h2 {
  font-size: 35px;
  font-weight: bold;
}
.productive-items {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.user-item h2 {
  font-size: 70px;
  color: rgba(78, 71, 255, 1);
}
.user-item p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.39);
}

/* User say section  */
.users-say-section {
  width: 100%;
  margin-top: 140px;
}
.users-say-section h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.users-say-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.user-card {
  padding: 24px 24px 12px;
  border-radius: 10px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.094);
}
.user-card h4 {
  font-size: 23px;
  font-weight: 600;
  color: rgba(30, 30, 30, 1);
  margin: 14px 0px 8px 0px;
}
.user-card p {
  font-size: 16px;
}
.user {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  align-items: center;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-text p {
  margin: 4px 0;
}

/* focus section */
.focus-section {
  margin-top: 240px;
  text-align: center;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.094);
  border-radius: 10px;
}
.focus-container {
  padding: 70px 0;
}
.focus-section h2 {
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.focus-section p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.457);
  margin: 20px 0;
}
.focus-section button {
  margin-bottom: 20px;
}
.focus-section img {
  border-radius: 48px;
}

/* form section  */
.form-section {
  margin-top: 150px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
.form-text h2 {
  font-size: 90px;
  font-weight: 700;
}
label {
  display: block;
  margin: 18px 0 9px 0;
}
input,
textarea {
  font-size: 15px;
  width: 100%;
  padding: 15px 0px 15px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.094);
}
.form-input button {
  width: 100%;
  margin: 10px;
}
